.navbar{
    background-color: #4e7b85;
}

#Logo{
    margin-left: 10px;
}

#Eventos{
    margin-left: 130px;
    margin-right: 20px;
    font-size: large;
    border-radius: 30px;
}

#Resultados{
    margin-right: 20px;
    font-size: large;
    border-radius: 30px;
}

#Ejemplares{
    margin-right: 20px; 
    font-size: large;
    border-radius: 30px;
}

#Nosotros{
    border-radius: 30px;
    font-size: large;
}

#Ingresar{
    margin-left: 220px; 
    font-size: large;
    border-radius: 30px;
}

#Logeado{
    margin-left: 220px;
    color: white; 
    font-size: large;
    border-radius: 30px;
}
